[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
[submodule "themes/themes/hugo-theme-stack"]
	path = themes/themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
[submodule "themes/EnochBlogTheme"]
	path = themes/EnochBlogTheme
	url = https://github.com/enochyu-official/EnochBlogTheme
