{{- $ctx := .Context -}}

{{- $words := 0 -}}
{{- range $ctx.Site.RegularPages -}}
  {{- $words = add $words .WordCount -}}
{{- end -}}

{{- $pages := where $ctx.Site.RegularPages "Type" "in" $ctx.Site.Params.mainSections -}}
{{- $notHidden := where $ctx.Site.RegularPages "Params.hidden" "!=" true -}}
{{- $posts := len ($pages | intersect $notHidden) -}}

<section class="widget archives">
  <div class="widget-icon">
    {{ partial "helper/icon" "home-stats" }}
  </div>
  <h2 class="widget-title section-title">Blogging Statistics</h2>

  <div class="widget-archive--list">
    <div class="archives-year">
      <a role="button" tabindex="0" onclick="return false;">
        <span class="year">Total Words</span>
        <span class="count">{{ $words }}</span>
      </a>
    </div>

    <div class="archives-year">
      <a role="button" tabindex="0" onclick="return false;">
        <span class="year">Total Posts</span>
        <span class="count">{{ $posts }}</span>
      </a>
    </div>

    <div class="archives-year">
      <a role="button" tabindex="0" onclick="return false;">
        <span class="year">Visitor Counts</span>
        <span class="count" id="gc-total-views">loading...</span>
      </a>
    </div>
  </div>
</section>


