{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections -}}
{{- if and (gt (len $pages) 1) (in $pages .) -}}
<nav class="paginav">
  {{- with $pages.Prev . -}}
  <a class="prev" href="{{ .RelPermalink }}">
    <span class="title">&lt; Previous Article</span><br>
    <span>{{ .Title }}</span>
  </a>
  {{- end -}}

  {{- with $pages.Next . -}}
  <a class="next" href="{{ .RelPermalink }}">
    <span class="title">Next Article &gt;</span><br>
    <span>{{ .Title }}</span>
  </a>
  {{- end -}}
</nav>
{{- end -}}


